body{
    background-color: hsl(60, 5%, 26%);
}
#carouselExampleFade {
    max-width: 1500px; 
    margin-block-start: auto;
}

#carouselExampleFade img {
    height: 350px;      
    object-fit: cover;  
}

#carouselExampleFade img {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-indicators [data-bs-target] {
    background-color: black;
}